{
    "presets": ["env"],
    "plugins": ["transform-runtime", ["component", [
        {
            "libraryName": "element-ui",
            "styleLibraryName": "theme-chalk"
        }
    ]]],
    "comments": false
}
